### while

In [1]:
a = [1, 2, 5, 8, 10, 33, 40]

In [2]:
index = 0
while index < len(a):
    if not a[index] % 2:
        print(a[index], end=' ')
        
    index += 1

2 8 10 40

In [3]:
a = 7
while a > 0:
    a -= 1
    if a == 4:
        continue
        
    print(a, end=' ')

6 5 3 2 1 0

### 1~100까지의 숫자 총합?

In [4]:
total = 0
n = 1

while n < 101:
    total += n
    n += 1
    
print(total)

5050

### for + dict

- 기본적으로 for문에 dict이 들어가면 key값을 참조한다.

In [5]:
test = {"RED":255, "BLUE":100, "GREEN":30}

for i in test:
    print(i)

RED
BLUE
GREEN

In [6]:
for i in test.keys():
    print(i)

RED
BLUE
GREEN

In [7]:
for i in test.values():
    print(i)

255
100
30

In [8]:
for i in test.items():
    print(i)

('RED', 255)
('BLUE', 100)
('GREEN', 30)

In [9]:
test = [50, 60, 70, 80, 90, 100]

for num in test:
    if 60<=num<=70:
        continue
    print(num)

50
80
90
100

### 구구단

In [17]:
for i in range(2, 10):
    print(f"{i}단 START")
    for j in range(1, 10):
        print(f"{i} * {j} = {i*j}")
        
    print("END")
    print()

2단 START
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
END

3단 START
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
END

4단 START
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
END

5단 START
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
END

6단 START
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
END

7단 START
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
END

8단 START
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
END

9단 START
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
END

1 ~ 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력.

In [21]:
for i in range(1, 101):
    if (i % 2) == 0 or (i % 11) == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [27]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [28]:
maximum = 0
for n in a:
    if n > maximum:
        maximum = n
        
minimum = maximum
for n in a:
    if n < minimum:
        minimum = n
        
print(maximum)
print(minimum)

total = 0
for n in a:
    total += n
    
avg = total / len(a) 
print(avg)

99
1
37.0

In [29]:
maximum = a[0]
minimum = a[0]

for n in a[1:]:
    if n > maximum:
        maximum = n
        
    if n < minimum:
        minimum = n
        
print(minimum, maximum)

1 99