### 리스트 안에 여러 데이터 타입을 섞는 것은 좋지 못하다.
python 3.0부터는 데이터 타입이 섞여 있으면 sort 메서드를 사용할 수 없다.  
정수와 실수의 혼합은 가능.

In [1]:
test_list = [1, 2, 'zzz', 3.5]
try:
    test_list.sort() # TypeError: '<' not supported between instances of 'str' and 'int'
    print(test_list)
    
except:
    print("TypeError: '<' not supported between instances of 'str' and 'int'")

TypeError: '<' not supported between instances of 'str' and 'int'

In [2]:
test_list = [13, 21.3, 1.7, 33.3, 33.4]
test_list.sort()
print(test_list)

[1.7, 13, 21.3, 33.3, 33.4]

### remove() : 입력된 인수에 해당 하는 원소를 삭제
아래 코드는 값이 1인 항목을 삭제한다.  
>인덱스 값으로 삭제하는 것이 아님!!!

In [3]:
test_list = [2, 3, 1, 5, 4, 7]
test_list.remove(1)
print(test_list)

[2, 3, 5, 4, 7]

만약 동일한 값의 원소가 2개 이상 존재하는 경우, 인덱스가 더 앞서는 쪽만 삭제된다.

In [4]:
test_list = [6, 0, 3, 5, 1, 2, 1]
test_list.remove(1)
print(test_list)

[6, 0, 3, 5, 2, 1]

### 리스트 복사
python에서 한 컬렉션을 제대로 복사하기 위해서는 추가 작업이 필요하다. 무슨 말인지 모르겠다.  
우선 예제 코드를 살펴보자.

In [5]:
list_a = [2, 5, 10]
list_b = list_a

In [6]:
list_b.append(100)

print("리스트 b : ", list_b)
print("리스트 a : ", list_a)

리스트 b :  [2, 5, 10, 100]
리스트 a :  [2, 5, 10, 100]

문제가 무엇인지 보이는가? list_b에 list_a를 대입하였으니, 별도의 리스트 객체 list_b가 생성되었다고 생각하고,  
list_b에 100을 append한 결과를 출력해보니 list_a까지 값이 추가되었다.
즉, 동일한 값을 그저 복사하기를 원했는데 list_a와 list_b는 같은 곳을 참조하고 있다는 뜻이다.

원하는대로 그저 값 복사만 하고 싶다면 다음과 같이한다.

In [7]:
list_a = [2, 5, 10]
list_b = list_a[:]

list_b.append(13)
print("리스트 a : ", list_a)
print("리스트 b : ", list_b)

리스트 a :  [2, 5, 10]
리스트 b :  [2, 5, 10, 13]

In [8]:
list_c = list_a.copy()

list_c.append(27)
print(list_a)
print(list_c)

[2, 5, 10]
[2, 5, 10, 27]

### 리스트는 Mutable

리스트는 값 변경이 가능하기 때문에 전체 리스트를 다시 생성할 필요 없이 메모리에 있는 객체를 바로 수정할 수 있다.

In [9]:
test_list = ['안녕하세요', '나는', 'xxx', '입니다']
test_list[2] = 'ooo'
print(test_list)

['안녕하세요', '나는', 'ooo', '입니다']

### range 함수는 꼭 필요한 곳에만 사용

In [10]:
test_list = ["Hello", "my", "name", "is", "Jun"]

# 비효율적! 느림!
for i in range(len(test_list)):
    print(test_list[i])
    
print()

# 이렇게 하는 것이 표준
for i in test_list:
    print(i)

Hello
my
name
is
Jun

Hello
my
name
is
Jun

### enumerate(iterable, start_index)

enumerate는 인수로 iterable 객체를 받아서 튜플이(index, 원소) 나열된 또 다른 iterable을 생성한다.

In [11]:
test_list = [x for x in range(10, 0, -1)]
print(test_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
for index, elem in enumerate(test_list, start=1):
    print(index, elem)

1 10
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

In [13]:
for x in enumerate(test_list):
    print(x)

(0, 10)
(1, 9)
(2, 8)
(3, 7)
(4, 6)
(5, 5)
(6, 4)
(7, 3)
(8, 2)
(9, 1)

### slicing
인덱싱은 한 번에 하나의 항목만 가져올 수 있으나, 슬라이싱을 사용하면 구체적인 범위의 하위 리스트를 만들 수 있다.  
> (리스트에서 리스트 조각을 만들어서 Slicing....)

In [14]:
test_list = [i for i in range(0, 20, 2)]
print(test_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
print(test_list[2:5]) # 2번 ~ 4번까지 0, 2, 4, 6
print(test_list[:7]) # 0번 ~ 6번까지
print(test_list[3:]) # 6부터 끝까지
print(test_list[0:5:2]) # 0, 4, 8

[4, 6, 8]
[0, 2, 4, 6, 8, 10, 12]
[6, 8, 10, 12, 14, 16, 18]
[0, 4, 8]

In [16]:
print(test_list[-4:-1]) # 12, 14, 16
print(test_list[-1:]) # 18
print(test_list[-2:])

[12, 14, 16]
[18]
[16, 18]

### 슬라이싱에서는 리스트 길이를 벗어나도 가능한 범위 최대치를 포함해서 반환

In [17]:
test_list = [1, 2, 5]
print(test_list[:10000])

[1, 2, 5]

### 리스트 역순 나열

아래 코드는 리스트의 마지막 항목에서 시작해 앞쪽으로 순회한 리스트 복사본을 생성한다.

In [18]:
test_list = [1,2,3,4,5,6,7]
print(test_list[::-1])

[7, 6, 5, 4, 3, 2, 1]

### 스텝 값이 음수가 되면
- 인수 시작의 기본값은 -로 인덱스된 리스트의 마지막 항목이 된다.
- 인수 종료의 기본값은 리스트의 첫 항목이 된다.

In [19]:
test_list = [x for x in range(10)]
print(test_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print(test_list[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [21]:
print(test_list[2::-1])

[2, 1, 0]

In [22]:
print(test_list[5:0:-1])

[5, 4, 3, 2, 1]

### Slicing 값을 리스트에 대입
리스트는 가변 타입이기 때문에 항목에 바로 값을 대입할 수 있다고 했다. 이 성질은 슬라이싱에도 반영된다.  
이 예시는 [20, 30, 40]을 삭제하고 [999, 888]을 삽입한 것이다.

In [23]:
test_list = [10, 20, 30, 40, 50, 60, 70]
test_list[1:4] = [999, 888] # 20 30 40에 999와 888이 대입
print(test_list)

[10, 999, 888, 50, 60, 70]

슬라이싱 범위의 길이가 0인 인덱스를 넣을 수도 있다. 이렇게 하면 기존 값을 삭제하지 않고, 해당 위치에 새로운 리스트 항목을 삽입한다.

In [24]:
test_list = [1, 2, 3, 4, 5]
test_list[0:0] = [-100, -200]
print(test_list)

[-100, -200, 1, 2, 3, 4, 5]

- 조각 안에 리스트를 대입할 때, 대입하려고 하는 대상은 항목이 전혀 없거나 하나만 있더라도 반드시 다른 리스트나 컬렉션이어야 한다.
- 조각 안에 리스트를 대입할 때 스텝이 명시되는 경우 조각의 범위와 삽입하려는 데이터의 길이가 반드시 같아야 한다.

In [25]:
test = [0, 0, 0]

test[0:1] = []
print(test)

test[0:0] = [1]
print(test)

try:
    test[0:0] = 777
    print(test)
    
except:
    print("TypeError: can only assign an iterable")

[0, 0]
[1, 0, 0]
TypeError: can only assign an iterable

In [26]:
test = [1, 1, 1, 1, 1]

test[0:2:1] = [3,3]
print(test)

[3, 3, 1, 1, 1]

In [27]:
t1 = [1, 2, 3, 4, 5]
t2 = t1 # t2에 t1가 참조하고 있는 객체를 대입한다. 결과적으로 t2는 t1의 별칭이 된다.

In [28]:
t1.append(10)

print(t1)
print(t2)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10]

In [29]:
t1 = [1, 2, 3, 4, 5]
t2 = t1[:]
t3 = t1.copy()

t1.append(20)
print(t1)
print(t2)
print(t3)

[1, 2, 3, 4, 5, 20]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [31]:
test1 = [10, 20 ,30]
test2 = [10, 20]

test1 > test2

True

In [33]:
test = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(*test)

1 2 3 4 5 6 7 8 9