## 1.14 문자열

텍스트의 문자들을 출력할 수 있게 해 주는 텍스트 문자열 클래스 str

'text', "text" - 한줄 문자열 표현  
'''text''', """text""" - 여러 줄에 걸쳐 문자열 표현

In [ ]:
a = 'hello world'
b = "hello world"

print(a)
print(b)

hello world
hello world

In [ ]:
c = '''hello world'''
d = """hello world"""

print(c)
print(d)

hello world
hello world

In [ ]:
e = '"hello" world'
e2 = "hello 'world'"

print(e)
print(e2)

"hello" world
hello 'world'

In [ ]:
f = """hellow 'python' world"""
f2 = '''hellow "python" world'''

print(f)
print(f2)

hellow 'python' world
hellow "python" world

In [ ]:
g = """hellow 
python
world"""

print(g)

hellow
python
world

파이썬에서는 문자열의 각 문자를 0부터 N-1(N은 문자열 길이)로 구성된 인데스를 사용하여 문자열을 문자로 구성된 리스트처럼 다룰 수 있다.

기억해야할 점은 이렇게 인덱스로 단일 문자를 반환받았을 때, 이는 별도의 타입이 아니라, 길이가 1인 문자열이다.

In [ ]:
s = "Hello"
s[0]

'H'

파이썬 문자열은 불변이기 때문에 기존 문자열에 새로운 값을 대입할 수 없다. 즉, 값이 바뀌지 않는다.  
그렇다면 어떻게 신규 문자열을 연결할 수 있을까?? 문자열 연결과 대입을 사용하면 된다.

In [ ]:
s1 = "Lionel"
s2 = "Messi"
s1 = s1 + ' ' + s2
s1

'Lionel Messi'

이것이 가능한 이유는 변수가 그저 객체를 호출할 수 있게 해주는 이름이기 때문이다.

문자열이 불변하다는 규칙을 위반하지 않고도 문자열을 연결하여 수정할 수 있다는 것이다.  
변수와 데이터 사이에 새로운 객체를 생성하면서 각각 대입했기 때문이다.

원래 s1의 값 "Lionel" 값에 변화가 생긴 것이 아니라, s1의 데이터 + ' ' + s2의 데이터 라는 신규 객체를 s1에 대입한 것

In [ ]:
s = "TEST"
s[0] = 'B'
s

TypeError: ignored

자주 사용되는 문자열 함수들

In [ ]:
a = "hello world"
a.upper()

'HELLO WORLD'

In [ ]:
a.replace('o', 'O')

'hellO wOrld'

In [ ]:
tall = 180
weight = 68

sentence = "내 키는 {}cm이고, 몸무게는 {}kg이다.".format(tall, weight)
sentence

'내 키는 180cm이고, 몸무게는 68kg이다.'

In [ ]:
test = "South!Korea!is!my!country"
test.split('!')

['South', 'Korea', 'is', 'my', 'country']

## 1.16 for문

In [ ]:
a_list = ["파리바게트", "던킨", "베스킨라빈스", "이디야커피"]

In [ ]:
for name in a_list:
    print(name)

파리바게트
던킨
베스킨라빈스
이디야커피

## Iterable & Iterator
[Reference 1](https://tibetsandfox.tistory.com/27)

[Reference 2](http://pythonstudy.xyz/python/article/23-Iterator%EC%99%80-Generator)

Iterable은 순회할 수 있는 모든 객체를 가리킨다.  
다른 말로 하면 파이썬에서 for 문의 in 키워드 뒤에 올 수 있는 모든 값은 Iterable이다. 그러면 list, tuple, set, dict는 말할 것도 없고 문자열, 파일 등도 Iterable이라고 할 수 있다.

iterable 객체에서 실제 iteration을 실행하는 것은 iterator로서,  
iterator는 next 메서드를 사용하여 다음 요소(element)를 가져온다.   
만약 더이상 next 요소가 없으면 StopIteration Exception을 발생시킨다.

위 for문 예제 코드에서 iterable은 리스트와 같은 컬렉션에 가깝지만,  
range 함수를 호출하면 반환하는 generator와 같다.  
generator는 나열된 값으로 구성된 iteration을 생산한다.

```
for 변수 in iterable:
    ...
```

In [ ]:
my_list = [0, 1, 2, 3]

for i in range(len(my_list)):
    my_list[i] *= 2

In [ ]:
my_list

[0, 2, 4, 6]

range를 역순으로 활용하는 방법

In [ ]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2