## 1.7 함수 정의

인수는 다음과 같이 두 종류로 나눌 수 있다.
[위치 인수와 키워드 인수](https://www.delftstack.com/ko/howto/python/positional-arguments-vs-keyword-arguments-in-python/)
- 명명 인수(named argument) 혹은 키워드 인수(Keyword argument)는 인수 이름과 함께 사용해야하는 인수
- 위치 인수(positional argument)는 이름 없이 인수 위치로 사용한다.

In [ ]:
# print()함수를 예로 들면, 쉼표로 인수를 구분해도 sep이나 end 인수로 접근할 수 없다.
# 무조건 sep= 혹은 end= 와 같이 키워드 인수로 접근해야 한다.
print(123, 456, 789, sep='-')

123-456-789

이외에도 함수를 정의하고 호출할 때, 위치 인자로만 사용하게 되면 함수 정의시 나열한 매개변수들의 순서를 알고 있어야만 올바르게 값을 전달할 수 있으므로, 키워드 인수를 같이 사용하는 것이 편리하다.

In [ ]:
def info(name, tall, age):
    print("NAME : ", name)
    print("TALL : ", tall)
    print("AGE : ", age)

In [ ]:
info("minjun", 180, 29) # 위치 인수로 사용. 모든 입력 인수는 함수 호출에서의 위치와 함수 선언에서의 매개변수 위치에 따라 매개변수에 할당

NAME :  minjun
TALL :  180
AGE :  29

In [ ]:
info(name="minjun", tall=180, age=29) # 키워드 인수로 사용. 각 매개변수는 키처럼 작동하고 각 인수는 값처럼 작용

NAME :  minjun
TALL :  180
AGE :  29

## 1.11 boolean 연산자
boolean 연산자는 True 혹은 False를 반환한다.  
논리 연산자 and와 or는 ***단락 논리 규칙(short-circuit logic)***을 따름.  
(조건문의 최종 결과가 남아 있는 표현식의 결과와 상관없이 확정되는 경우, 남아 있는 표현식은 실행 자체를 하지 않는 규칙.)

In [ ]:
x = 10
y = 20

In [ ]:
# 비교 연산자
print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True

In [ ]:
a = True
b = False

In [ ]:
print(b and a) # 단락 논리 규칙에 의해서 b가 이미 False 이므로 a는 확인하지 않는다.
print(b or a)
print(not(b) and a) # 논리 연산자 중 유일하가 단일 피연산자를 가지는 Not은 논리값의 반대값을 반환한다. 따라서 결과값이 True

False
True
True

## 1.12 함수 인수와 반환값

함수 문법은 다중 인수와 다중 반환값을 유연하게 지원한다.

인수가 여러 개 있을 때는 인수 이름들을 쉼표 기호로 구분하여 나열한 리스트를 인수로 사용한다.

반환값 역시 동일하며, return 만 작성하거나 생략하는 경우 둘 다 None값을 반환한다. (함수 끝에 도달하면 묵시적으로 return을 호출하며 기본적으로 None을 반환)   
return 문이 실행되면 즉시 함수에서 탈출하며, 함수 호출자로 돌아간다.

In [ ]:
def test_function(n1, n2):
    result = n1 + n2

    return # 함수가 종료되며, 이 경우 반환값이 적혀있지 않기 때문에 None 값이 반환. return 문을 생략해도 동일.

In [ ]:
value = test_function(2, 4)
print(value)

None

[Reference 1](https://aalphaca.tistory.com/4)

[Reference 2](https://jins-dev.tistory.com/entry/Python-%EC%9D%98-Call-by-assignment-%EC%9D%98-%EA%B0%9C%EB%85%90)

기술적으로 파이썬의 인수 전달 방식은 값 전달(pass by value)이 아니라 참조 전달(pass by reference)이지만,

정확하게 말하면 둘 다 아니다. 값이 파이썬 함수로 전달되면 해당 함수는 데이터 이름의 참조 주소를 받는다.  
하지만 함수가 인수로 주어진 변수에 새로운 값을 대입하면 전달받았던 기존 값과 연결이 끊어지고만다.

In [ ]:
def test_by(a):
    a = [5, 6, 7, 8]

In [ ]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [ ]:
test_by(a)
a

[1, 2, 3, 4]

In [ ]:
def double_it(x):
    print("input value : ", x)
    x = x * 2
    print("after value : ", x)

In [ ]:
x = 10 # int는 immutalbe 객체이기 때문에 변경할 수 없음.
double_it(x)
print("result : ", x)

input value :  10
after value :  20
result :  10

In [ ]:
def change_list(t):
    print("Before : ", t)
    t[0] = "CHANGE"

In [ ]:
t = [1, 2, 3, 4]
change_list(t)
print("After : ", t)

Before :  [1, 2, 3, 4]
After :  ['CHANGE', 2, 3, 4]

기본값을 가지는 인수를 함수 정의문에 넣으려면 반드시 모든 인수를 표기한 다음에 넣어야 한다.  
그렇지 않으면 다음과 같은 에러가 발생한다. ***Non-default argument follows default argument***


[Reference](https://velog.io/@minho/SyntaxError-non-default-argument-follows-default-argument)

In [ ]:
def print_nums(n, rep=1):
    i = 1
    while i <= rep:
        print(n)
        i += 1

In [ ]:
print_nums(10)

10