## 1.17 Tuple

튜플의 개념은 리스트처럼 중복을 허용하면서 추가된 항목의 순서가 유지된다.
리스트는 "[ ]" 기호를 사용하고, 튜플은 "( )"기호를 사용한다. 

리스트는 내용을 변경할 수 있지만, 튜플 값은 변경할 수 없는 immutable이다.

In [ ]:
def a_function():
    return 10, 20, 5 # return (10, 20, 5) 와 같다.

In [ ]:
a, b, c = a_function()
type(a)

int

In [ ]:
type((a, b, c))

tuple

In [ ]:
test_tuple = (1, 2, 3)

In [ ]:
test_tuple[0]

1

In [ ]:
test_tuple[0] = 777

TypeError: ignored

## 1.18 딕셔너리

딕셔너리는 키 + 값 쌍으로 구성된 열거형 데이터를 지닌 컬렉션이다.  
특히 키는 딕셔너리 내에서 유일한 열거형 데이터이어야 하므로, 중복이 불가능하다.
각 키는 값으로 불리는 데이터 객체외 연결된다.

In [ ]:
grade_dict = {"언어":70, "외국어":90, "수리":30}

In [ ]:
grade_dict["수리"]

30

딕셔너리가 생성되고 나면 다음과 같이 언제든지 값을 추가할 수 있다.

In [ ]:
grade_dict['화학'] = 100
grade_dict

{'수리': 30, '언어': 70, '외국어': 90, '화학': 100}

In [ ]:
test_dict = {}
test_dict["ID_1"] = "Pervinco"

test_dict

{'ID_1': 'Pervinco'}

딕셔너리 내의 데이터 타입을 선택할 때는 다음 규칙을 따라야 한다.
- 모든 키는 반드시 동일한 타입이거나 최소한 정수나 실수처럼 서로 비교할 수 있게 호환이 가능한 타입이어야 한다.
- 키 타입은 반드시 불변 타입이어야 한다. 문자열과 튜플은 불변이나 리스트는 아니다.
- 값은 어떤 타입이 와도 상관없지만, 가급적 값 객체는 모두 동일한 타입을 사용하는 것이 좋다.

### 기억해 둘 것
존재하지 않는 키를 조회하려고 하면 에러가 발생하므로, 이를 피하기 위해 get 메서드를 사용하여 해당 키가 존재하는지 확인하는 것이 좋다.

```
딕셔너리.get(key, 기본값)
```

만약 디셔너리 항목 중에 키가 존재하면 해당 값을 반환하지만, 키가 존재하지 않는다면 명시한 기본값을 반환하거나 명시하지 않은 경우 None을 반환한다.

In [ ]:
test_dict.get("minjun", "EMPTY")

'EMPTY'

## 1.19 세트

세트는 딕셔너리와 유사하지만 항목에 값(value)를 가지고 있지 않으며 다음 조건을 따른다.
- 모든 항목은 유일해야 한다. (이미 존재하는 값을 추가하려고 하면 무시된다.
- 모든 항목은 딕셔너리의 키와 같이 불면(immortal) 타입이어야 한다.
- 항목이 정렬되지 않는다.

In [1]:
test_set1 = {"Iron-Man", "Spider-Man", "Hulk"}

In [3]:
test_set1.add("Captain-America")
test_set1

{'Captain-America', 'Hulk', 'Iron-Man', 'Spider-Man'}

In [5]:
test_set1.add("Spider-Man")
test_set1 # 이미 있는 값이라서 중복 추가되지 않음. 무시당함

{'Captain-America', 'Hulk', 'Iron-Man', 'Spider-Man'}

In [6]:
test_set1.remove("Hulk")
test_set1

{'Captain-America', 'Iron-Man', 'Spider-Man'}

### 주의할 점

신규 세트를 만들 때는 항목 없이 중괄호 기호만으로 빈 세트를 만들 수 없음.  
이 방식은 빈 딕셔너리를 만드는 문법과 동일하기 때문에 다음과 같은 문법을 사용해야 빈 세트를 생성할 수 있다.

In [7]:
test_set2 = {}
type(test_set2)

dict

In [8]:
test_set3 = set()
type(test_set3)

set

세트 컬렉션은 합집합(Union)과 교집합(Intersection)기능도 지원한다.  
XOR은 합집합에서 교집합을 제거한 멱집합 연산자의 결과를 담고 있다.  
set - set은 첫번째 세트에는 존재하나 두 번째 세트에는 존재하지 않는 차집합 결과를 담고 있다.

In [13]:
setA = {1, 2, 3, 4}
setB = {3, 4, 5}

In [14]:
setUnion = setA | setB
setUnion

{1, 2, 3, 4, 5}

In [15]:
setIntersect = setA & setB
setIntersect

{3, 4}

In [16]:
setXOR = setA ^ setB
setXOR

{1, 2, 5}

In [17]:
setSub = setA - setB
setSub

{1, 2}